template(name="Loading")
  div.preloader-wrapper.big.active
    div.spinner-layer.spinner-blue
      div.circle-clipper.left
        div.circle
      div.gap-patch
        div.circle
      div.circle-clipper.right
        div.circle
