header {
  .name {
    line-height: 50px;
  }
  a {
    height: 64px;
  }
  img {
    width: 50px;
    border-radius: 50%;
    margin: 7px;
  }
}

main {
  form {
    width: 30%;
    margin: auto;
  }
}