header {
  .name {
    line-height: 50px;
  }
  a {
    height: 64px;
  }
  img {
    width: 45px;
    height: auto;
    border-radius: 50%;
    line-height: 50px;
    vertical-align: middle;
  }
  li {
    margin: 0 5px;
  }
}

main {
  h2 {
    font-size: 24px;
    text-align: center;
  }
  form {
    width: 30%;
    margin: auto;
  }
  button {

  }
  .signUp, .signIp, .customer {
    width: 30%;
    margin: auto;
  }
}
