<template name="Restaurants">
  <div class="container">
    <div class="row">
      <div class="restaurants">
        <h2>Restaurants</h2>
        <nav class="red">
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
        {{#if Template.subscriptionsReady}}
          {{#each restaurants}}
            {{> Restaurant}}
          {{/each}}
        {{ else }}
          <div style="text-align:center;">
            {{> Loading }}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
