<template name="AdminRestaurantDashboard">
  <div class="container">
    <div class="row">
      <div class="admin-restaurant-dashboard">
        {{#with restaurant}}
          <h2>{{ name }}</h2>
        {{/with}}
        {{> highchartsHelper chartId="CustomerResponse" chartWidth="100%" charHeight="100%" chartObject=CustomerResponse}}
        {{> highchartsHelper chartId="Age" chartWidth="100%" charHeight="100%" chartObject=Age}}
        {{> highchartsHelper chartId="Gender" chartWidth="100%" charHeight="100%" chartObject=Gender}}
      </div>
    </div>
  </div>
</template>
