<template name="AdminRestaurant">
  <div class="admin-restaurant">
    <div class="card hoverable">
      <div class="card-content black-text">
        <div class="right">
          <ul>
            <li><a class="btn-floating btn-small waves-effect waves-light red activator info"><i class="small material-icons">info_outline</i></a></li>
          </ul>
          <ul>
            <li><li><a class="dashboard-btn" href="{{pathFor '/admin/restaurants/:id/dashboard' id=_id}}"><i class="small material-icons">dashboard</i></a></li></li>
          </ul>
        </div>
        <span class="card-title">{{name}}</span>
        <table>
          <tr>
            <th class="restaurantTb"><h3>{{waitingCustomerNum}}</h3></th>
            <th class="restaurantTb"><h3>{{avgWaitingTime}}</h3></th>
          </tr>
          <tr>
            <td class="restaurantTb">people are waiting.</td>
            <td class="restaurantTb">min.</td>
          </tr>
        </table>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
        <p>{{ desc }}</p>
      </div>
      <div class="card-action">
        <a href="{{pathFor '/admin/restaurants/:id/waiting-list' id=_id}}">Waiting List</a>
        {{#if url}}
          <a href="{{url}}" target="_blank">Webpage</a>
        {{/if}}
      </div>
    </div>
  </div>
</template>
