<template name="AdminRestaurant">
  <div class="admin-restaurant">
    <div class="card">
      <a href="{{pathFor '/admin/restaurants/:id/waiting-list' id=_id}}">
        <div class="card-content black-text">
          <span class="card-title">{{name}}</span>
          <table>
            <th><i class="material-icons">supervisor_account</i></th>
            <th><i class="material-icons">supervisor_account</i></th>
            <th><i class="material-icons">supervisor_account</i></th>
            <tr>
              <td>10</td>
              <td>10</td>
              <td>10</td>
            </tr>
          </table>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
       </a>
      <div class="card-action">
        <a href="{{url}}" target="_blank">Jump to Webpage</a>
      </div>
    </div>
  </div>
</template>
