<template name="HomeLayout">
  {{> Header}}
  <div class="container">
    <main>
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="card-content black-text">
              <center>
                <span class="card-title">待つことができない人へのNomadoな選択肢</span>
              </center>
            </div>
          </div>
          <div class="card">
            <div class="card-content black-text">

              <div style="text-align:center;">
                <h2>Customer</h2>
                <a class="waves-effect waves-light btn goRestaurants"><i class="material-icons left">search</i>Search Restaurants</a>
              </div>

              <div style="text-align:center;">
                <h2>Manager</h2>
                <a class="waves-effect waves-light btn goSignIn"><i class="material-icons left">perm_identity</i>Sign In</a>
                <a class="waves-effect waves-light btn goSignUp"><i class="material-icons left">perm_identity</i>Sign Up</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
