<template name="Customer">
  <div class="customer">
    <div class="row">
      <div class="">
        <div class="card grey lighten-5">
          <div class="card-content black-text">
            <span class="card-title">{{ name }}</span>
            <ul>
              <li><p>{{ numberOfPeople }}人</p></li>
              <li><p style="float:right"><i class="material-icons">person_pin</i>{{ status }}</p></li>
            </ul>
          </div>
          <div class="card-action">
            <a href="#" id="twilio">Twilio</a>
            <a href="#" id="remove">Remove</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
