<template name="WaitingList">
  <div class="container">
    <div class="row">
      <div  style="margin-top:30px;">
        <div class="restaurantName">
          {{#with restaurant }}
            <h2>{{ name }}</h2>
          {{/with}}
        </div>
        <div class="restaurant-status" style="float:right;vertical-align:bottom;">
          <i class="material-icons">supervisor_account</i>
          <span style="font-size:18px;">{{ waitingCustomerNum }}</span>
          <i class="material-icons">av_timer</i>
          <span style="font-size:18px;">{{ WaitingTime }}</span>
        </div>
        <h2 style="float:left;">Sign up for Waiting List!</h2>
      </div>
      <div class="card grey lighten-5 hoverable" style="clear:both;">
        <div class="card-content black-text">
          <div class="new-customer-box">
            <span class="card-title activator"></span>
            {{> quickForm collection="Customers" id="insertCustomerForm" type="insert" class="new-customer-form" options="allowed"}}
          </div>
        </div>
      </div>
      <h2>Waiting List</h2>
      {{#each customers}}
        {{> Customer}}
      {{/each}}
    </div>
  </div>
</template>
